<header>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Sex Ration in your area</a>
            </div>
        </div>
    </nav>
</header>

<main>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="alert alert-warning alert-dismissible" role="alert" *ngIf="warning">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Warning!</strong> {{ message }}
                </div>

                <!--these properties are required: center, zoom-->
                <google-map [center]="center" [zoom]="zoom" [disableDefaultUI]="disableDefaultUI" [disableDoubleClickZoom]="disableDoubleClickZoom"
                    [mapTypeId]="mapTypeId" [maxZoom]="maxZoom" [minZoom]="minZoom" [styles]="styles">
                    <!--this property is required: position-->
                    <div googleMapMarker [position]="position" [title]="title" [content]="content">
                    </div>
                </google-map>

                <br>

                <div class="form-group">
                    <label class="control-label" for="input-search">Search Man and Women </label>
                    <div class="input-group">
                        <input type="text" id="input-search" class="form-control" [(ngModel)]="address" (keyup.enter)="search(address)" placeholder="Address">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-fab btn-fab-mini" title="search" (click)="search(address)">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </div>

                <input class="btn btn-default btn-block" type="button" value="Get current position" (click)="getCurrentPosition()">
            </div>
        </div>
    </div>
</main>